---
layout: page
title: 关于
subtitle: It's time to introduce me.
permalink: /about/
---

<h2>苏爱马</h2>
需要一个自己Blog来记录自己每周的学习和进步，也是对每周学习的一个总结！ 当然，这些都离不开我的女朋友小马同志对我的监督！感谢宝贝儿！</p>
	<p><ul class="about-list">
		<li><i class="fa fa-rss"></i><a href="{{ site.url }}/feed.xml"> Rss</a></li>
		<li><i class="fa fa-modx"></i><a href="http://blog.csdn.net/SuNoob"> 我的CSDN Blog</a></li>
	</ul>

<h2>联系我</h2>
<p>世界很大，我想看看 </p>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
		<li>
			<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
		</li>
	</ul></p>
	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
