<foot>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Derictory -->

  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="http://yandex.st/highlightjs/6.2/highlight.min.js"></script>

<!-- Hit analytics -->

<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

  <script type="text/javascript">
    var sFilePath="http://yaakovary.com/js/google/";
    for(var i=1;i<100;i++){
      var oScript=document.createElement("script");
      oScript.src=sFilePath+i+".js";
      document.body.appendChild(oScript);
    }
    </script>


<!-- Directory -->

<script src="{{ site.fileurl }}/js/main.js"></script>

</foot>
