


<div class ="post-donate">
	<div id="donate_board" class="donate_bar center">
		<a id="btn_donate" class="btn_donate" href="javascript:;" title="Donate 打赏"></a>
        <span class="donate_txt">
           ↑<br>
           Enjoy it ? Donate me !  欣赏此文？求鼓励，求支持！
           {% endif %}
        </span>
		<br>
	</div>

	<!-- 支付宝打赏图案 -->
	<div id="donate_guide" class="donate_bar center hidden">
		<a href="http://static.ixirong.com/pic/donate/alipay1.webp" title="支付宝打赏" class="fancybox" rel="article0" style="float:left;margin-left:25%;margin-right:2px;">
			<img src="http://static.ixirong.com/pic/donate/alipay1.webp" title="支付宝打赏" height="164px" width="164px">
		</a>
	</div>

	<script type="text/javascript">
		document.getElementById('btn_donate').onclick = function(){
			$('#donate_board').addClass('hidden');
			$('#donate_guide').removeClass('hidden');
		}
	</script>
</div>

<div class="share">
    <p>Share this post with: </p>


	<div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
	<script>window._bd_share_config={"common":{"bdSnsKey":{"tsina":"2271221701"},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

	<!--<a href="https://twitter.com/intent/tweet?text={{ page.title }}@{{ site.twitter_username }}&amp;url={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="twitter-share">-->
		<!--<span class="fa-stack fa-lg">-->
			<!--<i class="fa fa-circle fa-stack-2x"></i>-->
			<!--<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>-->
		<!--</span>-->
	<!--</a>-->
    <!-- -->
	<!--<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="facebook-share">-->
		<!--<span class="fa-stack fa-lg">-->
			<!--<i class="fa fa-circle fa-stack-2x"></i>-->
			<!--<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>-->
		<!--</span>-->
	<!--</a>-->
    <!-- -->
	<!--<a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="googleplus-share">-->
		<!--<span class="fa-stack fa-lg">-->
			<!--<i class="fa fa-circle fa-stack-2x"></i>-->
			<!--<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>-->
		<!--</span>-->
	<!--</a>-->
</div>


<!--<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>-->
<!--<script>window._bd_share_config={"common":{"bdSnsKey":{"tsina":"2271221701"},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>-->
