<h2>我的能力树</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            HTML/CSS/JS
        </div>
        <div class="progress">
            <span class="yellow" style="width: 26%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            C/C++
        </div>
        <div class="progress">
            <span class="green" style="width: 30%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            JAVA
        </div>
        <div class="progress">
            <span class="blue" style="width: 72%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            GIT
        </div>
        <div class="progress">
            <span class="red" style="width: 60%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            PYTHON
        </div>
        <div class="progress">
            <span class="grey" style="width: 42%;"></span>
        </div>
    </div>
</section>
